{% extends 'base.html.twig' %}

{% block title %}Edit DetailsAppro{% endblock %}

{% block body %}
    <h1>Edit DetailsAppro</h1>

    {{ include('details_appro/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('details_appro_index') }}">back to list</a>

    {{ include('details_appro/_delete_form.html.twig') }}
{% endblock %}